/*
 *
 * Licensed Materials - Property of IBM
 *
 * Supply Chain - UI Hub
 * (C) Copyright IBM Corp. 2019, 2020 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 */
.filter-dialog {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 20rem;
  z-index: 10000;
}
